// .sidebar .nav-item .nav-link {
//     color: #fff !important;
// }

img{
    border-radius: 50% !important;
}

#auth{
    background: rgb(2,0,36);
    background: linear-gradient(6deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.login .register{
    margin-top: 20vh !important;
}